<!DOCTYPE html>
<html>
    <head>
        <title>PO Tracker - MANEPO</title>
        <meta charset = "utf-8">
        <meta name = "description" content="Manepo adalah one stop solution untuk seluruh keperluan dokumen yang merepotkan">
        <meta name = "keywords" content="html, css, ejs, javascript, node js, express, mysql, crud">
        <meta name = "author" content="gadev">
        <meta name = "application-name" content="MANEPO">
        <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="/css/formstyle.css"> <!--css reguler-->
        <link rel="styleshee" href="#"> <!--css responsive-->
        <script src="https://kit.fontawesome.com/80167f1830.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = "form-wrapper">
            <div class = "form-content">
                <h1>Purchase Order Registration Form</h1>
                <h3>Lakukan penginputan data PO baru di bawah ini</h3>
                <form action="/inputpo" method = "POST">
                    <div class = "form agreement">
                        <label for = "agreement">No Kontrak</label>
                        <input type="text" id = "agreement_no" name="agreement" maxlength="10" pattern="[1-9]{3}[0-9]{7}" title="mohon isi dengan format kontrak 559xxxxxxx. WAJIB ANGKA" required>
                    </div>
                    <div class = "form nama">
                        <label for="customer_name">Nama Customer</label>
                        <input type="text" id = "customer_name" name="customer_name" placeholder="NAMA LENGKAP CUSTOMER" maxlength="30" required>
                    </div>
                    <div class = "form cmo">
                        <label for="cmo">CMO</label>
                        <select id = "cmo_name" name="cmo" required>
                            <option value="Adrian Safputra">Adrian Safputra</option>
                            <option value="Ahmad Radius">Ahmad Radius</option>
                            <option value="Agus Johriadi">Agus Johriadi</option>
                            <option value="Deby Kurniawan">Deby Kurniawan</option>
                            <option value="Kurniadi">Kurniadi</option>
                            <option value="Muhammad Firdaus">Muhammad Firdaus</option>
                            <option value="Zakarya">Zakarya</option>
                        </select>
                    </div>
                    <div class="form dealer">
                        <label for="dealer">Dealer</label>
                        <select id = "dealer" name="dealer" required>
                            <option value="ANZON-TYT-KTP">ANZON-TYT-KTP</option>
                            <option value="ANZON-TYT-PTK">ANZON-TYT-PTK</option>
                            <option value="BAC-ISUZU">BAC-ISUZU</option>
                            <option value="TMS-DAIHATSU-KTP">TMS-DAIHATSU-KTP</option>
                            <option value="TMS-DAIHATSU-PTK">TMS-DAIHATSU-PTK</option>
                            <option value="TMS-DAIHATSU-STG">TMS-DAIHATSU-STG</option>
                            <option value="HINO-PTK">HINO-PTK</option>
                            <option value="HONDA-SMG">HONDA-SMG</option>
                        </select>
                    </div>
                    <div class = "form submit">
                        <input type="submit" value="register">
                        <a href="/" id = "return-btn">Back to home <span><i class="fa fa-house-chimney"></i></span></a>
                    </div>
                </form>
            </div>
        <div class = "img-side">
            <img src="/images/foto_id_card_desy-removebg-preview.png">
            <img src="/images/galih-removebg-preview.png">
            <img src="/images/foto_id_card_desy-removebg-preview.png">
            <img src="/images/galih-removebg-preview.png">
            </div>
        </div>
    </body>
</html>