<!DOCTYPE html>
<html>
    <head>
        <title>PO Tracker - MANEPO</title>
        <meta charset = "utf-8">
        <meta name = "description" content="Manepo adalah one stop solution untuk seluruh keperluan dokumen yang merepotkan">
        <meta name = "keywords" content="html, css, ejs, javascript, node js, express, mysql, crud">
        <meta name = "author" content="gadev">
        <meta name = "application-name" content="MANEPO">
        <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="/css/formstyle.css"> <!--css reguler-->
        <link rel="styleshee" href="#"> <!--css responsive-->
        <script src="https://kit.fontawesome.com/80167f1830.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = "form-wrapper">
            <div class = "form-content">
                <h1>Life Insurance Claim Registration Form</h1>
                <h3>Lakukan penginputan laporan klaim asuransi baru di bawah ini</h3>
                <form action="/inputinsco1" method = "POST">
                    <div class = "form agreement">
                        <label for = "agreement">No Kontrak</label>
                        <input type="text" id = "agreement_no" name="agreement" maxlength="10" pattern="[1-9]{3}[0-9]{7}" title="mohon isi dengan format kontrak 559xxxxxxx. WAJIB ANGKA" required>
                    </div>
                    <div class = "form nama">
                        <label for = "customer_name">Nama Customer</label>
                        <input type="text" id = "nama_customer" name="customer_name" required>
                    </div>
                    <div class = "form vendor">
                        <label for="insco">Perusahaan Asuransi Penanggung</label>
                        <select id = "vendor" name="insco" required>
                            <option value="Cakrawala">Cakrawala</option>
                            <option value="Tugu">Tugu</option>
                            <option value="Sinar Mas">Sinar Mas</option>
                            <option value="BESS">BESS</option>
                            <option value="Staco">Kurniadi</option>
                        </select>
                    </div>
                    <div class = "form tanggal-report">
                        <label for="tgl_report_claim">Tanggal Pelaporan</label>
                        <input type="datetime-local" id = "tgl_report_claim" name="tgl_report_claim">
                    </div>
                    <div class="form nama-pelapor">
                        <label for="pelapor">Nama Pelapor</label>
                        <input type="text" id="pelapor" name="pelapor" required>
                    </div>
                    <div class = "form relasi-debitur">
                        <label for="relasi_pelapor">Relasi dengan Debitur</label>
                        <select id="relasi_pelapor" name="relasi_pelapor" required>
                            <option value="Orang Tua">Orang Tua</option>
                            <option value="Saudara">Saudara</option>
                            <option value="Pasangan">Pasangan</option>
                            <option value="Anak">Anak</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                    </div>
                    <div class = "form sebab-meninggal">
                        <label for = "penyebab_meninggal">Penyebab Meninggal</label>
                        <select id = "penyebab_meninggal" name="penyebab_meninggal" required>
                            <option value="Sakit">Sakit</option>
                            <option value="Non-Sakit">Selain sakit</option>
                        </select>
                    </div>
                    <div class = "form lokasi-meninggal">
                        <label for="meninggal_di">Lokasi Meninggal</label>
                        <select id = "meninggal_di" name="meninggal_di">
                            <option value="Rumah Sakit">Rumah Sakit</option>
                            <option value="Non-RS">Non-RS (Rumah, jalanan, perjalanan ke RS)</option>
                        </select>
                    </div>
                    <div class = "form kelengkapan">
                        <label for="kelengkapan">Kelengkapan Dokumen</label>
                        <select id="kelengkapan" name="kelengkapan">
                            <option value="LENGKAP">Lengkap</option>
                            <option value="BELUM LENGKAP" selected>Belum Lengkap</option>
                        </select>
                    </div>
                    <div class="form keterangan">
                        <label for="keterangan">Detail Laporan</label>
                        <textarea id="keterangan" name="keterangan"></textarea>
                    </div>
                    <div class = "form submit">
                        <input type="submit" value="register">
                        <a href="/" id = "return-btn">Back to home <span><i class="fa fa-house-chimney"></i></span></a>
                    </div>
                </form>
            </div>
        <div class = "img-side">
                <img src="/images/foto_id_card_desy-removebg-preview.png">
                <img src="/images/galih-removebg-preview.png">
                <img src="/images/foto_id_card_desy-removebg-preview.png">
                <img src="/images/galih-removebg-preview.png">
            </div>
        </div>
    </body>
</html>