<!DOCTYPE html>
<html>
    <head>
        <title>Manepo - Fast and Easy for Your Office</title>
        <meta charset = "utf-8">
        <meta name = "description" content="Manepo adalah one stop solution untuk seluruh keperluan dokumen yang merepotkan">
        <meta name = "keywords" content="html, css, ejs, javascript, node js, express, mysql, crud">
        <meta name = "author" content="gadev">
        <meta name = "application-name" content="MANEPO">
        <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="/css/manepo-style.css"> <!--css reguler-->
        <link rel="stylesheet" href="#"> <!--css responsive-->
    </head>
    <body>
        <img src="/images/no_please_login.png" alt = "woman prohibited user to access" id = "nologin-image">
        <div class = "please-login">
            <h1>Ooops..! Login dulu dongg~~</h1>
            <a href="/login">Login Di Sini yaaa</a>
        </div>
    </body>
</html>